<?xml version='1.0'?>
<robot name="romaa" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find romaa_description)/urdf/columns.xacro" />
  <xacro:include filename="$(find romaa_description)/urdf/romaa.gazebo" />

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>
  <material name="black">
    <color rgba="0.05 0.05 0.05 1" />
  </material>

  <!-- Base Link (bottom) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_bottom.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <mass value="4.115922297947584"/>
      <inertia ixx="0.07709942829583775" ixy="0" ixz="0"
        iyy="0.09727669030336457" iyz="0" izz="0.17435142306541462"/>
    </inertial>

    <collision name="collision_base_link">
      <origin xyz="-0.111 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.57 0.52 0.006"/>
      </geometry>
    </collision>
  </link>

  <!-- Left main column -->
  <xacro:main_column name="left_column" origin_xyz="-0.0835 0.250 0.083" />
  <!-- Right main column -->
  <xacro:main_column name="right_column" origin_xyz="-0.0835 -0.250 0.083" />
  

  <!-- Front-left column -->
  <xacro:secondary_column name="fleft_column" origin_xyz="0.164 0.139 0.083" />  <!-- Front-left -->
  <xacro:secondary_column name="fright_column" origin_xyz="0.164 -0.139 0.083" />  <!-- Front-right -->
  <xacro:secondary_column name="rleft_column" origin_xyz="-0.337 0.212 0.083" />  <!-- Rear-left -->
  <xacro:secondary_column name="rright_column" origin_xyz="-0.337 -0.212 0.083" />  <!-- Rear-right -->

</robot>
