<?xml version='1.0'?>
<robot name="romaa">

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Base Link (bottom) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_bottom.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="-0.1008466132361  0.0 0.003" rpy="0 0 0" />
      <mass value="4.03317563367091"/>
      <inertia ixx="0.0729296621571746" ixy="0" ixz="0"
        iyy="0.0944958177861172" iyz="0" izz="0.16740128088949"/>
    </inertial>

    <collision name="collision_base_link">
      <origin xyz="-0.111 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.57 0.52 0.006"/>
      </geometry>
    </collision>
  </link>

</robot>
