<?xml version='1.0'?>
<robot name="romaa" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find romaa_description)/urdf/columns.xacro" />
  <xacro:include filename="$(find romaa_description)/urdf/drive_wheels.xacro" />
  <xacro:include filename="$(find romaa_description)/urdf/castor_wheel.xacro" />
  <xacro:include filename="$(find romaa_description)/urdf/romaa.gazebo" />

  <xacro:include filename="$(find romaa_description)/urdf/laser.gazebo" />
  <xacro:arg name="laser_enabled" default="false" />
  <xacro:property name="laser_min_dist" value="0.10" />
  <xacro:property name="laser_max_dist" value="10.0" />
  <xacro:property name="laser_samples" value="540" />
  <xacro:property name="laser_resol" value="1" />
  <xacro:property name="laser_min_angle" value="${-(3/4)*pi}" />
  <xacro:property name="laser_max_angle" value="${(3/4)*pi}" />

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>
  <material name="black">
    <color rgba="0.05 0.05 0.05 1" />
  </material>
  <material name="dark_gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>
  <material name="light_gray">
    <color rgba="0.4 0.4 0.4 1" />
  </material>
  <material name="gray">
    <color rgba="0.8 0.8 .8 1" />
  </material>

  <!-- Base link (bottom) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_bottom.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="-0.10442512118169343 0 0.003" rpy="0 0 0" />
      <mass value="4.115922297947584"/>
      <inertia ixx="0.07709942829583775" ixy="0" ixz="0"
        iyy="0.09727669030336457" iyz="0" izz="0.17435142306541462"/>
    </inertial>

    <collision>
      <origin xyz="-0.111 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.570 0.520 0.006"/>
      </geometry>
    </collision>
  </link>

  <!-- Left main column -->
  <xacro:main_column name="left_column" origin_xyz="-0.0835 0.250 0.083" />
  <!-- Right main column -->
  <xacro:main_column name="right_column" origin_xyz="-0.0835 -0.250 0.083" />
  
  <!-- Secondary columns -->
  <xacro:secondary_column name="fleft_column" origin_xyz="0.164 0.139 0.083" />
  <xacro:secondary_column name="fright_column" origin_xyz="0.164 -0.139 0.083" />
  <xacro:secondary_column name="rleft_column" origin_xyz="-0.337 0.212 0.083" />
  <xacro:secondary_column name="rright_column" origin_xyz="-0.337 -0.212 0.083" />

  <!-- Castor support columns -->
  <xacro:castor_column name="fc_column" origin_xyz="-0.332  0    0.022815" />
  <xacro:castor_column name="lc_column" origin_xyz="-0.380 -0.06 0.022815" />
  <xacro:castor_column name="rc_column" origin_xyz="-0.380  0.06 0.022815" />

  <!-- Top-front link -->
  <link name="top_front_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_top_front.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <mass value="0.7186369596364028"/>
      <inertia ixx="0.014812833616776537" ixy="0" ixz="0"
        iyy="0.003404563417864952" iyz="0" izz="0.018213085212883666"/>
    </inertial>

    <collision>
      <origin xyz="0.049 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.250 0.520 0.006"/>
      </geometry>
    </collision>
  </link>
  <joint name="top_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="top_front_link" />
    <origin xyz="0 0 0.160" rpy="0 0 0" />
  </joint>

  <!-- Top-rear link -->
  <link name="top_rear_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_top_rear.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <mass value="0.8885077118205166"/>
      <inertia ixx="0.016809690318237213" ixy="0" ixz="0"
        iyy="0.007046759808520824" iyz="0" izz="0.02385111908048711"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.320 0.520 0.006"/>
      </geometry>
    </collision>
  </link>
  <joint name="top_rear_joint" type="fixed">
    <parent link="base_link" />
    <child link="top_rear_link" />
    <origin xyz="-0.236 0 0.160" rpy="0 0 0" />
  </joint>

  <!-- Castor support link -->
  <link name="csupport_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_castor_support.stl" />
      </geometry>
      <material name="blue" />
    </visual>

    <inertial>
      <origin xyz="0.0035 0 0.003" rpy="0 0 0" />
      <mass value="0.190755"/>
      <inertia ixx="0.00023339157749999997" ixy="0" ixz="0"
        iyy="0.00014052256237261147" iyz="0" izz="0.0003727696098726115"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.105 0.140 0.006"/>
      </geometry>
    </collision>
  </link>
  <joint name="csupport_joint" type="fixed">
    <parent link="base_link" />
    <child link="csupport_link" />
    <origin xyz="-0.378 0 0.03963" rpy="0 0 0" />
  </joint>

  <!-- Battery link -->
  <!--
  <link name="battery_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.175 0.166 0.125"/>
      </geometry>
      <material name="dark_gray" />
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="11.467"/>
      <inertia ixx="0.04126479814479167" ixy="0" ixz="0"
        iyy="0.0441976080729167" iyz="0" izz="0.05559915751979169"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.175 0.166 0.125"/>
      </geometry>
    </collision>
  </link>
  <joint name="battery_joint" type="fixed">
    <parent link="base_link" />
    <child link="battery_link" />
    <origin xyz="-0.209 0 0.0685" rpy="0 0 0" />
  </joint>
  -->

  <!-- Sensor bar link -->
  <link name="sensbar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_sensor_bar_with_holes.stl" />
      </geometry>
      <material name="black" />
    </visual>

    <inertial>
      <origin xyz="-0.17062558720045456 0 7.489880295179326" />
      <mass value="0.6705571211803331"/>
      <inertia ixx="0.006744639700932016" ixy="0" ixz="0"
        iyy="0.00015281269307933294" iyz="0" izz="0.006872329258775596"/>
    </inertial>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://romaa_description/meshes/romaa_sensor_bar.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="sensor_bar_joint" type="fixed">
    <parent link="top_front_link" />
    <child link="sensbar_link" />
    <origin xyz="0.129 0 0.006" rpy="0 0 0" />
  </joint>

  <!-- Left drive wheel -->
  <xacro:drive_wheel name="left_wheel" reflect="1" />
  <!-- Right drive wheel -->
  <xacro:drive_wheel name="right_wheel" reflect="-1" />

  <!-- Castor wheel -->
  <xacro:castor_wheel name="castor" origin_x="-0.016" />

  <!-- Laser rangefinder sensor -->
  <xacro:if value="$(arg laser_enabled)">
    <link name="laser_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://romaa_description/meshes/hokuyo.dae" />
        </geometry>
        <material name="gray" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.07" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>
    <joint name="joint_laser" type="fixed" >
      <parent link="top_front_link" />
      <child link="laser_link" />
      <origin xyz="0.0 0 0.035" rpy="0 0 0" />
    </joint>

    <xacro:laser min_dist="${laser_min_dist}" max_dist="${laser_max_dist}" samples="${laser_samples}"
        resol="${laser_resol}" min_angle="${laser_min_angle}" max_angle="${laser_max_angle}" />
  </xacro:if>

</robot>
